<!-- -*- mode: XML -*- -->
<launch>

    ################ arguments ################
    <arg name="sim" default="true" />

    ################ set up laser data ################
    <param name="/use_sim_time" value="$(arg sim)"/>
    <group if="$(arg sim)">
	<node pkg="rosbag" type="play" name="play" args="$(find velodyne)/bags/ugv-004.bag --clock --topics /scan"/>
    </group>
    <group unless="$(arg sim)">
	<include file="$(find ugv_navigation)/launch/ugvdriver.launch"/>
	<include file="$(find velodyne)/launch/velodyne.launch"/>
    </group>

    ################ publish an example base_link -> laser transform ################
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.1 0 0 -1.28 0 0 /base_link /velodyne 100" />

    ################ draw path ################
    <node pkg="ugv_navigation" type="path_node" name="path_node" output="screen">
	<param name="fixed_frame" value="map"/>
        <param name="use_odom" value="true"/>
    </node>

    ################ start cartographer ################
    <node name="cartographer_node" pkg="cartographer_ros"
    	type="cartographer_node" args="
          -configuration_directory $(find velodyne)/params/cartographer
          -configuration_basename backpack_2d.lua"
	output="screen">
    </node>

    ################ start rviz ################
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find velodyne)/rviz/cartographer.rviz"/>

</launch>
